*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
.has-task {
    font-weight: bold;
    color: #fff;
    background: #66e961;
    border: 1px solid #66e961;
    border-radius: 25px;
    padding: 0 5px;
    width: fit-content;
}
div.current {
    font-weight: bold;
    color: #fff;
    background: #6cb2eb;
    border: 1px solid #6cb2eb;
    border-radius: 25px;
    padding: 0 5px;
    width: fit-content;
}
i, .day {
    cursor: pointer;
}
.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* margin: 0.25rem 0; */
    width: 100%;
    justify-content: space-evenly;
}
.task-ctn {
    background: lightyellow;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: 15px;
    padding: 15px;
    max-width: 300px;
    margin-bottom: 15px;
}
.tasks li {
    list-style: none;
}
.task-content {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}
.task-remaining {
    font-weight: italic;
    color: #aaa;
}
.task-remaining + li {
    font-size: 14px;
}